
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
	font-size: 18px;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
	
.legend2 {
    padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	font-size: 12px;
	text-align: left;
   }

h3, h4, h5 { 
	font-weight: bold;
}

h5 {
	font-size: 15px;
}

div{
	z-index:5;
}

.legendmap{
	position: absolute;
	width: 33%;
	top: 90%;
	bottom: 0;
}
	
.legend { list-style: none; }
.legend li { float: left;  clear: both; }
.legend span {border: 1px solid #000000; float: left;width: 12px; height: 12px; border-radius: 50% ; margin:2px;}
	/* your colors */
.legend .ResidencyB { background-color: #fca311; }
.legend .ResidencyC { background-color: #8ac926; }
.legend .ResidencyE { background-color: #0c82d1; }

.map{
	position: absolute;
	width: 33%;
	top: 0px;
	bottom: 0;
}

.title{
	position: absolute;
	left: 35%;
	width: 46%;
	top: 0px;
	bottom: 0;
}


.container{
	position: absolute;
	left: 33%;
	width: 46%;
	top: 40px;
	bottom: 0;
}


.nav-pills{
	padding: 8px 0;
}